In [13]:
import numpy as np

In [5]:
# 1,2,3차원 배열 생성
array1 = np.array([1,2,3])
print('array1 type:',type(array1))
print('array1 array 형태:',array1.shape)
print('array1 array 차원:',array1.ndim)

array2 = np.array([[1,2,3],
                 [4,5,6]])
print('array2 type:',type(array2))
print('array2 array 형태:',array2.shape)
print('array2 array 차원:',array2.ndim)


array3 = np.array([[1,2,3]])
print('array3 type:',type(array3))
print('array3 array 형태:',array3.shape)
print('array3 array 차원:',array3.ndim)

array1 type: <class 'numpy.ndarray'>
array1 array 형태: (3,)
array1 array 차원: 1
array2 type: <class 'numpy.ndarray'>
array2 array 형태: (2, 3)
array2 array 차원: 2
array3 type: <class 'numpy.ndarray'>
array3 array 형태: (1, 3)
array3 array 차원: 2

In [6]:
arr1 = np.arange(8)
arr2 = arr1.reshape(2,4)
arr3 = arr1.reshape(2,2,2)
print(arr1,arr2,arr3)
print(f'{arr1.ndim}차원,{arr2.ndim}차원,{arr3.ndim}차원')

[0 1 2 3 4 5 6 7] [[0 1 2 3]
 [4 5 6 7]] [[[0 1]
  [2 3]]

 [[4 5]
  [6 7]]]
1차원,2차원,3차원

In [10]:
print(arr1, arr1.dtype)

a1 = arr1.astype('float64')
print(a1, a1.dtype)

[0 1 2 3 4 5 6 7] int32
[0. 1. 2. 3. 4. 5. 6. 7.] float64

### 과제_0913_1. arange, zeros, ones 로 배열을 다양하게 생성하세요.(완)

In [15]:
a1 = np.arange(25).reshape(5,5)
z1 = np.zeros(25).reshape(5,5)
o1 = np.ones(25).reshape(5,5)
a1,z1,o1

(array([[ 0,  1,  2,  3,  4],
        [ 5,  6,  7,  8,  9],
        [10, 11, 12, 13, 14],
        [15, 16, 17, 18, 19],
        [20, 21, 22, 23, 24]]),
 array([[0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0.]]),
 array([[1., 1., 1., 1., 1.],
        [1., 1., 1., 1., 1.],
        [1., 1., 1., 1., 1.],
        [1., 1., 1., 1., 1.],
        [1., 1., 1., 1., 1.]]))

In [12]:
# a1으로 1,2,3차원 배열을 만드세요.(reshape사용)
a1 = np.arange(25)
print(a1)
print(a1.reshape(5,5))
print(a1.reshape(5,5,1))

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24]
[[ 0  1  2  3  4]
 [ 5  6  7  8  9]
 [10 11 12 13 14]
 [15 16 17 18 19]
 [20 21 22 23 24]]
[[[ 0]
  [ 1]
  [ 2]
  [ 3]
  [ 4]]

 [[ 5]
  [ 6]
  [ 7]
  [ 8]
  [ 9]]

 [[10]
  [11]
  [12]
  [13]
  [14]]

 [[15]
  [16]
  [17]
  [18]
  [19]]

 [[20]
  [21]
  [22]
  [23]
  [24]]]

### 과제_0913_2. a1,a2,a3에서 원하는 원소값들을 다양한 방식으로 인덱싱하여 출력하세요.(완)

In [31]:
np.random.seed(0)
a1 = np.random.randint(25,size=(16))
a2 = np.random.randint(25,size=(4,4)).reshape(2,8)
a3 = np.random.randint(25,size=(4,4)).reshape(2,2,4)
print(a1,'\n')
print(a2,'\n')
print(a3,'\n')

print(a1.ndim,a2.ndim,a3.ndim)

[12 15 21  0  3  3  7  9 19 21 18  4 23  6 24 24]

[[12  1  6  7 23 14 24 17]
 [ 5 13  8  9 20 19 16 19]]

[[[ 5 15 15  0]
  [18  3 24 17]]

 [[19 19 19 14]
  [ 7  0  1  9]]]

1 2 3

In [32]:
a1[a1>10]

array([12, 15, 21, 19, 21, 18, 23, 24, 24])

In [34]:
a2[0:10]

array([[12,  1,  6,  7, 23, 14, 24, 17],
       [ 5, 13,  8,  9, 20, 19, 16, 19]])

In [38]:
print(np.sort(a3))

[[[ 0  5 15 15]
  [ 3 17 18 24]]

 [[14 19 19 19]
  [ 0  1  7  9]]]

In [13]:
# boolean 인덱싱
ar1d = np.arange(1,10)
ar1d

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [14]:
# [6,7,8,9] 추출하세요.
ar1d > 5

array([False, False, False, False, False,  True,  True,  True,  True])

In [18]:
# 일반적인 인덱싱
indexes = np.array([5,6,7,8])
ar = ar1d[indexes]
ar

array([6, 7, 8, 9])

In [20]:
# 정렬
# np.sort() 원본 미반영
ar = np.array([3,1,9,5])
s1 = np.sort(ar)
print(s1)
print(ar)
s2 = ar.sort()
print(s2)
print(ar)

[1 3 5 9]
[3 1 9 5]
None
[1 3 5 9]

In [21]:
# 내림차순
s1[::-1]

array([9, 5, 3, 1])

### 과제_0913_3. ar2d를 로우방향, 칼럼방향으로 정렬하세요.(완)

In [46]:
#ar2d = np.arange(9).reshape(3,3)
ar2d = np.random.randint(50,size=(9)).reshape(3,3)
ar2d

array([[32, 31, 10],
       [23, 35, 11],
       [28, 34,  0]])

In [48]:
# row 방향
np.sort(ar2d,axis=1)

array([[10, 31, 32],
       [11, 23, 35],
       [ 0, 28, 34]])

In [47]:
# column 방향
np.sort(ar2d,axis=0)

array([[23, 31,  0],
       [28, 34, 10],
       [32, 35, 11]])

### 과제_0913_4. 성적 오름차순으로 이름을 출력하세요.(완)

In [24]:
name_array = np.array(['John','Mike','Sarah','Kate','Samuel'])
score_array = np.array([78,95,84,98,88])

In [44]:
sc_ind = np.argsort(score_array)[::1]
print(name_array[sc_ind])

['John' 'Sarah' 'Samuel' 'Mike' 'Kate']

In [28]:
# 선형대수 연산 - 행렬 내적
a = np.arange(1,7).reshape(2,3)
b = np.arange(7,13).reshape(3,2)
dot_product = np.dot(a,b)
dot_product

array([[ 58,  64],
       [139, 154]])

In [32]:
# 전치 행렬
print(a)
transpose_mat = np.transpose(a)
transpose_mat

[[1 2 3]
 [4 5 6]]

array([[1, 4],
       [2, 5],
       [3, 6]])

### 과제_0913_5. 데이터프레임과 리스트, 딕셔너리, ndarray 상호 변환 사례를 작성하여 설명하세요.(완)

In [49]:
df = pd.DataFrame({'col1':['1','2','3'],'col2':['2','3','4']})
df

  col1 col2
0    1    2
1    2    3
2    3    4

In [51]:
# df -> nd.array
df.values

array([['1', '2'],
       ['2', '3'],
       ['3', '4']], dtype=object)

In [54]:
# df -> list
df_to_li = df.values.tolist()
df_to_li

[['1', '2'], ['2', '3'], ['3', '4']]

In [55]:
# df -> dict
df_to_dic = df.to_dict('list')
df_to_dic

{'col1': ['1', '2', '3'], 'col2': ['2', '3', '4']}

In [59]:
arr = np.arange(6)
arr

array([0, 1, 2, 3, 4, 5])

In [60]:
# np.array -> df
arr_df = pd.DataFrame(arr,columns=['col1'])
arr_df

   col1
0     0
1     1
2     2
3     3
4     4
5     5

In [62]:
# list -> df
li = [['1','2'],['3','4']]
li_df = pd.DataFrame(li,columns=['col','col2'])
li_df

  col col2
0   1    2
1   3    4

In [64]:
# dict -> df
di = {'col1':['1','4','5'],'col2':['5','10','15']}
di_df = pd.DataFrame(di)
di_df

  col1 col2
0    1    5
1    4   10
2    5   15

### 과제_0913_6. tdf를 전처리 및 탐색적 분석(시각화, 통계적 기법)을 통하여 분석용 데이터셋으로 만드세요.

In [6]:
import pandas as pd

In [8]:
tdf = pd.read_csv('./titanic_train.csv')
tdf

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [9]:
tdf.shape

(891, 12)

In [10]:
tdf.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [11]:
tdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [12]:
vcounts = tdf['Pclass'].value_counts()
vcounts

3    491
1    216
2    184
Name: Pclass, dtype: int64

# 사이킷런을 이용하여 붓꽃(iris)의 품종 예측하기

In [2]:
from sklearn.datasets import load_iris
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

In [3]:
iris = load_iris()
iris.keys()

dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names', 'filename', 'data_module'])

In [4]:
iris_data = iris.data
iris_label = iris.target
print(iris.feature_names,'\n')
print(iris.target_names,'\n')
print(iris_data,'\n')
print(iris_label)

['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)']

['setosa' 'versicolor' 'virginica']

[[5.1 3.5 1.4 0.2]
 [4.9 3.  1.4 0.2]
 [4.7 3.2 1.3 0.2]
 [4.6 3.1 1.5 0.2]
 [5.  3.6 1.4 0.2]
 [5.4 3.9 1.7 0.4]
 [4.6 3.4 1.4 0.3]
 [5.  3.4 1.5 0.2]
 [4.4 2.9 1.4 0.2]
 [4.9 3.1 1.5 0.1]
 [5.4 3.7 1.5 0.2]
 [4.8 3.4 1.6 0.2]
 [4.8 3.  1.4 0.1]
 [4.3 3.  1.1 0.1]
 [5.8 4.  1.2 0.2]
 [5.7 4.4 1.5 0.4]
 [5.4 3.9 1.3 0.4]
 [5.1 3.5 1.4 0.3]
 [5.7 3.8 1.7 0.3]
 [5.1 3.8 1.5 0.3]
 [5.4 3.4 1.7 0.2]
 [5.1 3.7 1.5 0.4]
 [4.6 3.6 1.  0.2]
 [5.1 3.3 1.7 0.5]
 [4.8 3.4 1.9 0.2]
 [5.  3.  1.6 0.2]
 [5.  3.4 1.6 0.4]
 [5.2 3.5 1.5 0.2]
 [5.2 3.4 1.4 0.2]
 [4.7 3.2 1.6 0.2]
 [4.8 3.1 1.6 0.2]
 [5.4 3.4 1.5 0.4]
 [5.2 4.1 1.5 0.1]
 [5.5 4.2 1.4 0.2]
 [4.9 3.1 1.5 0.2]
 [5.  3.2 1.2 0.2]
 [5.5 3.5 1.3 0.2]
 [4.9 3.6 1.4 0.1]
 [4.4 3.  1.3 0.2]
 [5.1 3.4 1.5 0.2]
 [5.  3.5 1.3 0.3]
 [4.5 2.3 1.3 0.3]
 [4.4 3.2 1.3 0.2]
 [5.  3.5 1.6 0.6]
 [5.1 3.8 1.9 0.4]
 [4.8 3.  1.4 0.3]
 [5.1 3.8 1.6 0.2]
 [4.6 3.2 1.4 0.2]
 [5.3 3.7 1.5 0.2]
 [5.  3.3 1.4 0.2]
 [7.  3.2 4.7 1.4]
 [6.4 3.2 4.5 1.5]
 [6.9 3.1 4.9 1.5]
 [5.5 2.3 4.  1.3]
 [6.5 2.8 4.6 1.5]
 [5.7 2.8 4.5 1.3]
 [6.3 3.3 4.7 1.6]
 [4.9 2.4 3.3 1. ]
 [6.6 2.9 4.6 1.3]
 [5.2 2.7 3.9 1.4]
 [5.  2.  3.5 1. ]
 [5.9 3.  4.2 1.5]
 [6.  2.2 4.  1. ]
 [6.1 2.9 4.7 1.4]
 [5.6 2.9 3.6 1.3]
 [6.7 3.1 4.4 1.4]
 [5.6 3.  4.5 1.5]
 [5.8 2.7 4.1 1. ]
 [6.2 2.2 4.5 1.5]
 [5.6 2.5 3.9 1.1]
 [5.9 3.2 4.8 1.8]
 [6.1 2.8 4.  1.3]
 [6.3 2.5 4.9 1.5]
 [6.1 2.8 4.7 1.2]
 [6.4 2.9 4.3 1.3]
 [6.6 3.  4.4 1.4]
 [6.8 2.8 4.8 1.4]
 [6.7 3.  5.  1.7]
 [6.  2.9 4.5 1.5]
 [5.7 2.6 3.5 1. ]
 [5.5 2.4 3.8 1.1]
 [5.5 2.4 3.7 1. ]
 [5.8 2.7 3.9 1.2]
 [6.  2.7 5.1 1.6]
 [5.4 3.  4.5 1.5]
 [6.  3.4 4.5 1.6]
 [6.7 3.1 4.7 1.5]
 [6.3 2.3 4.4 1.3]
 [5.6 3.  4.1 1.3]
 [5.5 2.5 4.  1.3]
 [5.5 2.6 4.4 1.2]
 [6.1 3.  4.6 1.4]
 [5.8 2.6 4.  1.2]
 [5.  2.3 3.3 1. ]
 [5.6 2.7 4.2 1.3]
 [5.7 3.  4.2 1.2]
 [5.7 2.9 4.2 1.3]
 [6.2 2.9 4.3 1.3]
 [5.1 2.5 3.  1.1]
 [5.7 2.8 4.1 1.3]
 [6.3 3.3 6.  2.5]
 [5.8 2.7 5.1 1.9]
 [7.1 3.  5.9 2.1]
 [6.3 2.9 5.6 1.8]
 [6.5 3.  5.8 2.2]
 [7.6 3.  6.6 2.1]
 [4.9 2.5 4.5 1.7]
 [7.3 2.9 6.3 1.8]
 [6.7 2.5 5.8 1.8]
 [7.2 3.6 6.1 2.5]
 [6.5 3.2 5.1 2. ]
 [6.4 2.7 5.3 1.9]
 [6.8 3.  5.5 2.1]
 [5.7 2.5 5.  2. ]
 [5.8 2.8 5.1 2.4]
 [6.4 3.2 5.3 2.3]
 [6.5 3.  5.5 1.8]
 [7.7 3.8 6.7 2.2]
 [7.7 2.6 6.9 2.3]
 [6.  2.2 5.  1.5]
 [6.9 3.2 5.7 2.3]
 [5.6 2.8 4.9 2. ]
 [7.7 2.8 6.7 2. ]
 [6.3 2.7 4.9 1.8]
 [6.7 3.3 5.7 2.1]
 [7.2 3.2 6.  1.8]
 [6.2 2.8 4.8 1.8]
 [6.1 3.  4.9 1.8]
 [6.4 2.8 5.6 2.1]
 [7.2 3.  5.8 1.6]
 [7.4 2.8 6.1 1.9]
 [7.9 3.8 6.4 2. ]
 [6.4 2.8 5.6 2.2]
 [6.3 2.8 5.1 1.5]
 [6.1 2.6 5.6 1.4]
 [7.7 3.  6.1 2.3]
 [6.3 3.4 5.6 2.4]
 [6.4 3.1 5.5 1.8]
 [6.  3.  4.8 1.8]
 [6.9 3.1 5.4 2.1]
 [6.7 3.1 5.6 2.4]
 [6.9 3.1 5.1 2.3]
 [5.8 2.7 5.1 1.9]
 [6.8 3.2 5.9 2.3]
 [6.7 3.3 5.7 2.5]
 [6.7 3.  5.2 2.3]
 [6.3 2.5 5.  1.9]
 [6.5 3.  5.2 2. ]
 [6.2 3.4 5.4 2.3]
 [5.9 3.  5.1 1.8]]

[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 2 2 2 2 2 2 2 2 2 2
 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
 2 2]

In [7]:
idf = pd.DataFrame(iris_data,columns=iris.feature_names)
idf['label'] = iris.target
idf.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

### 과제_0913_7. idf에 대해서 학습용, 평가용 데이터를 8:2로 나누어서 분류 모델링(dt) 및 정확도 평가를 수행하세요