In [3]:
# csv
import numpy as np
import pandas as pd
ar1 = np.arange(10).reshape(2,5)
df = pd.DataFrame(ar1,columns=list('abcde'))
df.to_csv('dataset/test.csv')

In [6]:
df = pd.read_csv('dataset/test.csv',index_col=0)
df

   a  b  c  d  e
0  0  1  2  3  4
1  5  6  7  8  9

In [8]:
# json. 딕셔너리 형태
df1 = df.copy()
df1.to_json('dataset/test1.json')
df1_json = pd.read_json('dataset/test1.json')
df1_json

   a  b  c  d  e
0  0  1  2  3  4
1  5  6  7  8  9

In [11]:
# 작업 중 저장할 때, 바이너리 파일로 저장되기 때문에 메모리 소요 줄어듬
df2 = df.copy()
df2.to_pickle('dataset/test2.pkl')

In [12]:
df2_pickle = pd.read_pickle("dataset/test2.pkl")
df2_pickle

   a  b  c  d  e
0  0  1  2  3  4
1  5  6  7  8  9

In [14]:
# 엑셀

!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.0.10-py2.py3-none-any.whl (242 kB)
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.0.10

In [16]:
df = pd.read_excel('dataset/auto-mpg.xlsx')
df.head()

    mpg  cylinders  displacement horsepower  weight  acceleration  model year  origin                   car name
0  18.0          8         307.0        130    3504          12.0          70       1  chevrolet chevelle malibu
1  15.0          8         350.0        165    3693          11.5          70       1          buick skylark 320
2  18.0          8         318.0        150    3436          11.0          70       1         plymouth satellite
3  16.0          8         304.0        150    3433          12.0          70       1              amc rebel sst
4  17.0          8         302.0        140    3449          10.5          70       1                ford torino

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
 8   car name      398 non-null    object
dtypes: float64(3), int64(4), object(2)
memory usage: 28.1+ KB

In [19]:
df3 = pd.read_excel('dataset/auto-mpg.xlsx',skiprows=[3])
df3.head()

    mpg  cylinders  displacement horsepower  weight  acceleration  model year  origin                   car name
0  18.0          8         307.0        130    3504          12.0          70       1  chevrolet chevelle malibu
1  15.0          8         350.0        165    3693          11.5          70       1          buick skylark 320
2  16.0          8         304.0        150    3433          12.0          70       1              amc rebel sst
3  17.0          8         302.0        140    3449          10.5          70       1                ford torino
4  15.0          8         429.0        198    4341          10.0          70       1           ford galaxie 500

In [20]:
df3.corr() # 변수들의 관계성 파악

                   mpg  cylinders  displacement    weight  acceleration  model year    origin
mpg           1.000000  -0.775412     -0.804029 -0.831601      0.419055    0.578667  0.562894
cylinders    -0.775412   1.000000      0.950608  0.896820     -0.502321   -0.344729 -0.561796
displacement -0.804029   0.950608      1.000000  0.933204     -0.541539   -0.367147 -0.608744
weight       -0.831601   0.896820      0.933204  1.000000     -0.416763   -0.305445 -0.580628
acceleration  0.419055  -0.502321     -0.541539 -0.416763      1.000000    0.283264  0.203723
model year    0.578667  -0.344729     -0.367147 -0.305445      0.283264    1.000000  0.178441
origin        0.562894  -0.561796     -0.608744 -0.580628      0.203723    0.178441  1.000000

In [21]:
df.isnull().sum().sum()

0

In [22]:
df.horsepower.unique()

array([130, 165, 150, 140, 198, 220, 215, 225, 190, 170, 160, 95, 97, 85,
       88, 46, 87, 90, 113, 200, 210, 193, '?', 100, 105, 175, 153, 180,
       110, 72, 86, 70, 76, 65, 69, 60, 80, 54, 208, 155, 112, 92, 145,
       137, 158, 167, 94, 107, 230, 49, 75, 91, 122, 67, 83, 78, 52, 61,
       93, 148, 129, 96, 71, 98, 115, 53, 81, 79, 120, 152, 102, 108, 68,
       58, 149, 89, 63, 48, 66, 139, 103, 125, 133, 138, 135, 142, 77, 62,
       132, 84, 64, 74, 116, 82], dtype=object)