#### Q. 남녀 파트너 정해주기 프로그램(zip) 
같은 수의 남녀 모임에서 파트너를 랜덤하게 정해주는 프로그램을 만들어 보세요

male = ['철수','갑돌','로미오','이몽룡','온돌']

female = ['미미','갑순','줄리엣','성춘향','평강']

In [28]:
import random 
import numpy as np

male = ['철수','갑돌','로미오','이몽룡','온돌']
female = ['미미','갑순','줄리엣','성춘향','평강']

print("파트너 정해드립니다""\n")

for i in range(5):
    a = np.random.choice(male,1)
    b = np.random.choice(female,1)
    print(f'{a} ❤︎ {b}')
    
    male.remove(a)
    female.remove(b)

파트너 정해드립니다

['온돌'] ❤︎ ['줄리엣']
['갑돌'] ❤︎ ['미미']
['이몽룡'] ❤︎ ['성춘향']
['로미오'] ❤︎ ['평강']
['철수'] ❤︎ ['갑순']

In [29]:
male = ['철수','갑돌','로미오','이몽룡','온돌']
female = ['미미','갑순','줄리엣','성춘향','평강']

random.shuffle(male)
print(male)
random.shuffle(female)
print(female)

couples = zip(male,female)
for i, couple in enumerate(couples):
    print(f'커플 {i+1}: {couple[0]},{couple[1]}')

['철수', '로미오', '온돌', '이몽룡', '갑돌']
['성춘향', '미미', '평강', '갑순', '줄리엣']
커플 1: 철수,성춘향
커플 2: 로미오,미미
커플 3: 온돌,평강
커플 4: 이몽룡,갑순
커플 5: 갑돌,줄리엣

#### Q2. 사용자가 입력한 횟수만큼 로또 번호를 출력하는 프로그램을 작성하세요.(중복 금지)

[도전과제] 발표자를 원하는 수 만큼 랜덤하게 출력하는 프로그램을 작성하세요.

In [ ]:
list = ['변서연', '한지웅', '양주희', '이호원','정지은','이정현A','이명진','이상윤','조승현',
        '강유한','김영선','최애림','김민섭','박혜린','이정현B','윤정준','김진형','정승기',
       '진청아','신창훈','김병석','박세희']

In [13]:
import random 
import numpy as np


list = ['박영권','김현지','김덕현','변서연','한지웅','양주희','이호원','정지은','이정현A',
         '이정현B','이명진','이상윤','조승현','강유한','김영선','최애림','김민섭','박혜린',
         '윤정준','김진형','정승기','진청아','신창훈','김병석','박세희']



print("=============== CAKD7 발표자 랜덤 뽑기 입니다.==============="'\n')
                        
get_ran_num = int(input(" 발표 인원을 입력해주세요 >  "'\n')) 


lucky_guy = random.sample(list,get_ran_num)

print(" ")
for i in range(get_ran_num):
    print(f'{i+1}번 문제 발표자는 {lucky_guy[i]} 입니다.')

=============== CAKD7 발표자 랜덤 뽑기 입니다.===============

 발표 인원을 입력해주세요 >
25

1번 문제 발표자는 김진형 입니다.
2번 문제 발표자는 강유한 입니다.
3번 문제 발표자는 조승현 입니다.
4번 문제 발표자는 박영권 입니다.
5번 문제 발표자는 김민섭 입니다.
6번 문제 발표자는 이명진 입니다.
7번 문제 발표자는 김병석 입니다.
8번 문제 발표자는 신창훈 입니다.
9번 문제 발표자는 최애림 입니다.
10번 문제 발표자는 이정현A 입니다.
11번 문제 발표자는 박세희 입니다.
12번 문제 발표자는 이상윤 입니다.
13번 문제 발표자는 양주희 입니다.
14번 문제 발표자는 정승기 입니다.
15번 문제 발표자는 김덕현 입니다.
16번 문제 발표자는 정지은 입니다.
17번 문제 발표자는 진청아 입니다.
18번 문제 발표자는 이호원 입니다.
19번 문제 발표자는 윤정준 입니다.
20번 문제 발표자는 김현지 입니다.
21번 문제 발표자는 한지웅 입니다.
22번 문제 발표자는 변서연 입니다.
23번 문제 발표자는 박혜린 입니다.
24번 문제 발표자는 이정현B 입니다.
25번 문제 발표자는 김영선 입니다.

#### Q.사용자가 입력한 횟수만큼 로또 번호를 출력하는 프로그램을 작성하세요.(중복 금지)

In [9]:
import random

user = int(input('로또를 시행할 횟수를 입력해주세요'))

i=0

while i < user:
    lotto = list(range(1,46))
    print(random.sample(lotto,6))
    i += 1

로또를 시행할 횟수를 입력해주세요4
[6, 27, 23, 38, 41, 37]
[42, 32, 34, 23, 15, 4]
[45, 12, 29, 44, 2, 33]
[29, 41, 17, 7, 27, 6]

#### Q3.입력받은 문자열의 각 문자를 그 다음 문자로 변경하여 출력하세요. abc->bca

In [8]:
import numpy as np

text = input('텍스트를 입력하세요 >')
ret = ''
for i in range(len(text)):
    if i != len(text)-1:
        ret += text[i+1]
    else:
        ret += text[0]
print(ret)
        
# 다른 방법
# word = input('텍스트를 입력하세요 >')
# print(word[1:]+word[0])

텍스트를 입력하세요 >vvhj
vhjv

In [10]:
# news.naver.com 추출

import re

url = 'https://news.naver.com/mnews/article/057/0001676870?sid=102'
tmp = url.split('/')
tmp[2]

'news.naver.com'

#### Q5. URL 에서 쿼리문을 추출하여 출력하세요.

In [40]:
# url에서 '?'뒤에 표시되는 문자열을 쿼리 문자열이라고 하며 변수=값 사이 &로 
# 구분되어 나열된다. ex) mode=LSD mid=shm
url = 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601'
tmp = url.split('?')
a = tmp[1].split('&')
a

['mode=LSD', 'mid=shm', 'sid1=105', 'oid=028', 'aid=0002334601']

#### Q6. 텍스트 파일(mydata.txt)을 읽고  파일의 내용에서 나타나는 문자들에 대해 자주 나타나는 문자들을 아래와 같이 순서대로 출력하세요.
- \[ \] 백슬래시-> [177]회 나타남
- [e] -> [97]회 나타남
- [t] -> [85]회 나타남

In [42]:
import pandas as pd
import string

def getTextFreq(filename):
    with open(filename,'r') as f:
        text = f.read()
        fa = {}
        for c in text:
            if c in fa:
                fa[c] += 1 
            else:
                fa[c] = 1 # 처음 나오면 카운트 : 1
    return fa
ret = getTextFreq('./mydata.txt')
ret = sorted(ret.items(),key=lambda x:x[1], reverse=True)
print(ret)
for c, freq in ret:
    if c =='\n':
        continue
    print('[%c] - > [%d]회 나타남' %(c,freq))

[(' ', 177), ('e', 97), ('t', 85), ('a', 78), ('o', 73), ('n', 60), ('s', 60), ('r', 54), ('i', 50), ('h', 48), ('\n', 43), ('l', 34), ('u', 27), ('d', 24), ('c', 23), ('w', 20), ('m', 20), ('f', 17), ('y', 15), ('p', 15), ('b', 13), ('g', 11), ('v', 9), ("'", 8), ('k', 7), ('!', 2)]
[ ] - > [177]회 나타남
[e] - > [97]회 나타남
[t] - > [85]회 나타남
[a] - > [78]회 나타남
[o] - > [73]회 나타남
[n] - > [60]회 나타남
[s] - > [60]회 나타남
[r] - > [54]회 나타남
[i] - > [50]회 나타남
[h] - > [48]회 나타남
[l] - > [34]회 나타남
[u] - > [27]회 나타남
[d] - > [24]회 나타남
[c] - > [23]회 나타남
[w] - > [20]회 나타남
[m] - > [20]회 나타남
[f] - > [17]회 나타남
[y] - > [15]회 나타남
[p] - > [15]회 나타남
[b] - > [13]회 나타남
[g] - > [11]회 나타남
[v] - > [9]회 나타남
['] - > [8]회 나타남
[k] - > [7]회 나타남
[!] - > [2]회 나타남

#### Q7. 두 개의 수를 입력한 후 두 개의 수에 대한 사칙연산을 수행하세요.(0을 입력한 경우 다시 입력하도록 조치)
- Cal4클래스를 만들어서 작성

#### Q8. Order 클래스를 상속받아 extraOrder 클래스에서 메소드 오버라이딩하여 출력 가격에 '원'이 추가되도록 출력하세요.

In [7]:
class Order: 
    def __init__(self, name): 
        self.customer = 0 
        self.name = name 
    def order(self, price): 
        self.customer += price 
        return self.customer

order = Order('kevin')
print(order.order(1000))

1000

In [15]:
class extraOrder(Order):
    def __init__(self, name):
        super().__init__(name)
        
    def order(self, price): 
        super().order(price)
        print(f'{self.name}님의 주문금액은 {self.customer}원 입니다.')
    
extraorder = extraOrder('kevin')
extraorder.order(1000)

kevin님의 주문금액은 1000원 입니다.

#### Q9. 업무 미팅이 2시임을 알려주는 자동 이메일을 클래스 AutoEmail을 작성하여 아래와 같이 출력하세요.

안녕하세요. Kevin님, 업무미팅은 2시입니다.

In [17]:
import time
class AutoEmail:
    def __init__(self,name,t):
        self.name = name
        self.t = t
    def alarm(self):
        if time.localtime().tm_hour == self.t:
            print(f'{self.name}님, 업무미팅이 진행중입니다.')
        else:
            print(f'안녕하세요 {self.name}님, 업무미팅은 {self.t}시 입니다.')
            
ae = AutoEmail('고갱',9)
ae.alarm()

고갱님, 업무미팅이 진행중입니다.

#### Q10.정규표현식을 사용하여 text에서 전화번호만 출력하세요.
text = "문의사항이 있으면 032-232-3245"으로 연락주시기 바랍니다"

In [41]:
import re

text = "문의사항이 있으면 032-232-3245으로 연락주시기 바랍니다"
p = re.compile("[0-9]{3}-[0-9]{3}-[0-9]{4}")
m = p.findall(text)
print(m)

['032-232-3245']

In [1]:
import re

text = "문의사항이 있으면 032-232-3245으로 연락주시기 바랍니다"
p = re.compile("\d+-\d+-\d+")
m = p.search(text)
print(m)

<re.Match object; span=(10, 22), match='032-232-3245'>

#### Q11. 정규표현식을 사용하여 text에서 에러가 들어간 부분만 포함하는 리스트를 출력하세요
text = "에러 1122, 레퍼런스 오류, 에러 1033, 아규먼트 오류, 에러 xxx"

In [59]:
import re

text = "에러 1122, 레퍼런스 오류, 에러 1033, 아규먼트 오류, 에러 xxx"

p = re.compile("[가-힣]{2}\s[0-9a-zA-Z]+")
m = p.findall(text)
print(m)

['에러 1122', '에러 1033', '에러 xxx']

#### Q12. 정규표현식을 사용하여 text에서 지역코드만 출력하세요.
text = "문의사항이 있으면 032-232-3245으로 연락주시기 바랍니다"

In [78]:
import re

text = "문의사항이 있으면 032-232-3245으로 연락주시기 바랍니다"
p = re.compile(r"\s\d{3}")
m = p.findall(text)
print(m)

[' 032']

#### Q13. 정규표현식을 사용하여 text에서 지역코드 제외하고 번호만 출력하세요.
text = "문의사항이 있으면 032-232-3245으로 연락주시기 바랍니다"

In [72]:
import re

text = "문의사항이 있으면 032-232-3245으로 연락주시기 바랍니다"
p = re.compile(r"\d{3}-\d{4}")
m = p.findall(text)
print(m)

['232-3245']

#### Q14.'abcdefghij' 에 대하여 중첩을 적용한 서브그룹 5개로 컴파일하여 group()함수를 이용하여 'abcdefghi'와 e'를 출력하세요

In [91]:
import re

m = re.match('(((ab)(cd(e)fgh)i)j)', 'abcdefghij')
print(m.group(2),m.group(5))

abcdefghi e

#### Q15. 위 문제에서 모든 서브 그룹에 대한 문자열을 포함하는 튜플을 출력하세요.

In [92]:
m.groups()

('abcdefghij', 'abcdefghi', 'ab', 'cdefgh', 'e')

#### Q16. 이름으로 그룹을 참조하여 'Lots of punctuation 에서 Lots를 출력하세요.

In [4]:
# 그룹 이름 참조하기 => ?P<그룹이름>
import re

test="Lots of punctuation"
p = re.compile(r"(?P<func>\w+)\s+(?P<func1>\w+)")
m = p.search(test)
print(m.group('func'))

Lots

#### Q17. 'Paris is very very beautiful.'에서 'very very'를 출력하세요.

In [4]:
import re
li = 'Paris is very very beautiful.'
regex = re.compile('[a-z]{4}\s[a-z]{4}')
list = regex.findall(li)
print(list)

['very very']

#### Q18. 정규표현식을 작성하여 아래와 같이 출력하세요.

['1 apple', '5 oranges', '3 boys', '4 girls', '10 army', '11 mr']

In [3]:
import re
li = '1 apple, 5 oranges, 3 boys, 4 girls; 10 army| 11 mr'
regex = re.compile('\d+\s[a-z]+')
list = regex.findall(li)
print(list)

['1 apple', '5 oranges', '3 boys', '4 girls', '10 army', '11 mr']

#### Q19. text 에서 'H,h'만 출력하세요.
text = 'Hello my friend! Life is short you need Python!'

In [11]:
import re
text = 'Hello my friend! Life is short you need Python!'
regex = re.compile('(H|h)')
#regex = re.compile('[Hh]')
list = regex.findall(text)
print(list)

['H', 'h', 'h']

#### Q20. text 에서 'H,h'가 아닌 것 모두를 출력하세요.
text = 'Hello my friend! Life is short you need Python!'

In [16]:
import re
text = 'Hello my friend! Life is short you need Python!'
regex = re.compile('[^(H|h)]')
#regex = re.compile('^[Hh]')
list = regex.findall(text)
print(list)

['e', 'l', 'l', 'o', ' ', 'm', 'y', ' ', 'f', 'r', 'i', 'e', 'n', 'd', '!', ' ', 'L', 'i', 'f', 'e', ' ', 'i', 's', ' ', 's', 'o', 'r', 't', ' ', 'y', 'o', 'u', ' ', 'n', 'e', 'e', 'd', ' ', 'P', 'y', 't', 'o', 'n', '!']

####  Q.21.'we are going home'에서 home만 출력하세요.

In [3]:
import re
li = 'we are going home'
regex = re.compile('\w+$')
list = regex.findall(li)
print(list[0])

home

#### Q22. '199305, 1923A, a93247'에서 '199305'만 출력하세요.

In [29]:
import re
li = '199305, 1923A, a93247'
regex = re.compile('^\d+')
list = regex.findall(li)
print(list[0])

199305

#### Q23. '12345abc'에서 'abc'만 출력하세요.

In [28]:
import re
li = '12345abc'
regex = re.compile('[a-z]+')
list = regex.findall(li)
print(list[0])

abc

In [4]:
li = '12345abc'
print(li[5:8])

abc

In [5]:
text = '1234abc'
m = re.search('\D+',text)
m.group()

'abc'

In [7]:
text = '12345abc'
m = re.search('\d+',text)
m.group()

'12345'

In [12]:
text = '12345abc'
re.sub('[^0-9]','',text)

'12345'

#### Q24. '12345abc'에서 'a'만 출력하세요.

In [22]:
import re
li = '12345abc'
regex = re.compile('[a-z]')
list = regex.search(li)
print(list[0])

a

In [6]:
li = '12345abc'
m = re.search('[a-z]',li)
m.group(0)

'a'

#### Q25. 'abc12345Abc'에서 'A'만 출력하세요.

In [23]:
import re
li = 'abc12345Abc'
regex = re.compile('[A-Z]')
list = regex.search(li)
print(list[0])

A

# 07-22 과제

#### Q26. 'Banker'에서 'anker', 'banker123'에서 'banker'를 출력하세요

In [80]:
import re
li = 'Banker'
p = re.search('[a-z]+',li)
p.group()

'anker'

In [83]:
import re
li = 'banker123'
regex = re.search('[a-z]+',li)
regex.group()

'banker'

#### Q27. 'KOREA 대한민국'에서 '대'만 출력하세요.

In [21]:
import re
li = 'KOREA 대한민국'
regex = re.compile('([A-Z]+)\s(\w+)')
list = regex.search(li)
print(list[2][0])

대

#### Q28. text에서 'aaaaBBBcccDDDeee'을 모두 출력하세요.
text = 'aaaBBccDDeeaaaaBBBcccDDDeeeeeeDDDcccBBBaaaa'

In [75]:
import re
text = 'aaaBBccDDeeaaaaBBBcccDDDeeeeeeDDDcccBBBaaaa'
t = text[::-1][0:16]
print(t)

aaaaBBBcccDDDeee

In [76]:
t1 = re.search('a{4}B{3}c{3}D{3}e{3}',text)
t1.group()

'aaaaBBBcccDDDeee'

#### Q29. 아래의 경우에서 \<html>만 출력하세요
    - NON-GREEDY 방식 사용

In [85]:

text = '<html><head><title>Title</title></head><body></body></html>'

pattern = re.compile('<.*>')


print(len(text))
p = pattern.search(text)
p.group()

59

'<html><head><title>Title</title></head><body></body></html>'

In [87]:
text = '<html><head><title>Title</title></head><body></body></html>'
pattern = re.compile('<.*?>')
p = pattern.search(text)
p.group()

'<html>'

#### Q30. '1234a1234'에서  '1', '2', '3', '4'를 모두 출력하세요.

In [72]:
#nope
import re
li = '1234a1234'
m=re.findall('[^a]',li)
m

['1', '2', '3', '4', '1', '2', '3', '4']

# 07-25 과제

#### Q31.

#### Q32. text에서 전체문장 모두 출력하세요.

In [92]:
# Q.
text = "what are you doing?\nit is going to be late for school\nwe need to hurry up"
regex = re.compile('.*')
mo = regex.search(text)
print(mo.group())

what are you doing?

In [113]:
text = "what are you doing?\nit is going to be late for school\nwe need to hurry up"
regex = re.compile(r'.*\n.*\n.*')
mo = regex.search(text)
print(mo.group())

what are you doing?
it is going to be late for school
we need to hurry up

In [124]:
text = "what are you doing?\nit is going to be late for school\nwe need to hurry up"
regex = re.compile('.*',re.DOTALL) # DOTALL : 줄바꿈 문자 포함하여 출력
mo = regex.search(text)
print(mo.group())
#print(regex.findall(text))

what are you doing?
it is going to be late for school
we need to hurry up

#### Q33. text에서 대소문자 구분없이 전체문장 모두 출력하세요

text = 'Friend fRiend friEnd FRIEND'

In [4]:
import re 

reg = re.findall('friend', 'Friend fRiend friEnd FRIEND',re.IGNORECASE)

for groups in reg:
    print(groups)

Friend
fRiend
friEnd
FRIEND

#### Q34. 1609160537.371015을 "Sat Jun 26 08:35:03 2021" 포멧으로 출력하세요.

In [137]:
#참고용, 날짜 형식 변환해줌
from dateutil.parser import parse
print(parse('Sat Jun 26 08:35:03 2021'))

2021-06-26 08:35:03

In [150]:
from datetime import datetime
import time

timestring=time.ctime(1609160537.371015)
timestring

'Mon Dec 28 22:02:17 2020'

In [5]:
from datetime import datetime

time = datetime.fromtimestamp(int(1609160537.371015))
time = time.strftime("%a %b %d %H:%S:%S %Y")
time

'Mon Dec 28 22:17:17 2020'

#### Q35. 현재 날짜와 시간을 "Sat Jun 26 08:35:03 2021" 포멧으로 출력하세요.

In [181]:
now = datetime.now().ctime()
now

'Mon Jul 25 16:09:34 2022'

ctime() 함수는 주어진 timestamp를 현지 시간대 기준으로 소위 미국에서 흔히 사용되는 요 월 일 시:분:초 년 포멧으로 변환해줍니다. 그냥 간단하게 timestamp가 나타내는 날짜와 시간을 확인해보는 용도로 쓰기에 좋습니다.

# 07-26 과제

#### Q36. 현재 시간을 년-월-일 시:분:초로 출력하세요.

In [15]:
import time
from datetime import datetime

now = datetime.now()
print(now.strftime('%Y-%m-%d %H:%M:%S'))

2022-07-26 09:57:49

#### Q37. 현재 시간을 time.time을 불러와서 년-월-일 시:분:초로 출력하세요.

In [24]:
import time
from datetime import datetime

now = time.time()
now

1658797213.0851793

In [25]:
t = datetime.fromtimestamp(now)
print(t.strftime('%Y-%m-%d %H:%M:%S'))

2022-07-26 10:00:13

#### Q38. 올해 경과된 날짜수 계산하세요

In [28]:
import time
from datetime import datetime

now = time
print("올해로부터 경과된 일 : ", now.localtime().tm_yday)

올해로부터 경과된 일 :  207

In [33]:
from datetime import datetime

now  = datetime.now()
print("현재 :", now)

date_to_compare = datetime.strptime("20211231", "%Y%m%d")
print("비교할 날짜 :", date_to_compare)

date_diff = now - date_to_compare
print("차이 :", date_diff)

현재 : 2022-07-26 10:35:49.226365
비교할 날짜 : 2021-12-31 00:00:00
차이 : 207 days, 10:35:49.226365

#### Q39. 현재 요일을 "2021-6-26 오늘은 토요일입니다."와 같은 형식으로 출력하세요.

In [56]:
from datetime import datetime

now  = datetime.now()

a = now.strftime('%Y-%m-%d')

days = ['월요일', '화요일', '수요일', '목요일', '금요일', '토요일', '일요일']
day = now.weekday()
#print(days[day])

b = days[day]

print(f'{a} 오늘은 {b}입니다.')

2022-07-26 오늘은 화요일입니다.

#### Q40. 1에서 백만까지 더하는데 걸리는 프로그램 실행 시간을 밀리초(ms) 단위로 구하세요.

In [62]:
import time

start = time.time()
for i in range(1000001):
    i += 1
end = time.time()

result = (end - start) * 0.01

print(f"{result:.5f} ms")

0.00063 ms

### 07-27 과제

#### Q41. 아래 코드를 보완하여 발생 가능한 모든 예외(정수, 인덱스, 미리 파악하지 못한 예외)를 처리한 후 마지막에  '모든 예외처리 완료'를 출력하세요.

In [ ]:
list_num = [52,273,32,72,100]

num_input = int(input('정수 입력> '))
print(f'{num_input}번째 요소: {list_num[num_input-1]}')

In [4]:
list_num = [52,273,32,72,100]

try:
    num_input = int(input('정수 입력> '))
    print(f'{num_input}번째 요소: {list_num[num_input-1]}')
except(ZeroDivisionError, IndexError,ValueError) as e:
    print(e)
    print('모든 예외처리 완료')

정수 입력> /.5
invalid literal for int() with base 10: '/.5'
모든 예외처리 완료

#### Q42. 기본가격 1000원인 2개의 상품에 대하여 임의의 추가 가격을 입력시 가격 조정한 결과를 반환하는 Price 클래스를 생성 후 객체를 만들어 price1, price2를 수행하세요. 
- price1 : 기본가격 + 추가가격
- price2 : (기본가격 + 추가가격) * 90%

In [33]:
import math

def Price():
    p1 = 1000
    p2 = 1000
    
    more = int(input('추가 가격을 입력하세요 > '))
    
    price1_1 = p1 + more
    price1_2 = p2 + more
    
    price2_1 = (p1 + more) * 0.9
    price2_1 = math.trunc(price2_1)
    price2_2 = (p2 + more) * 0.9
    price2_2 = math.trunc(price2_2)
    
    print(f'price1 = {price1_1}원,{price1_2}원')
    print(f'price2 = {price2_1}원,{price2_2}원')
    
Price()

추가 가격을 입력하세요 > 8000
price1 = 9000원,9000원
price2 = 8100원,8100원

#### Q43. strings를 문자의 크기 순서로 내림차순 정렬하세요

In [ ]:
strings = ['a', 'ca', 'bar', 'aaaa', 'ababa']

In [2]:
strings = ['a', 'ca', 'bar', 'aaaa', 'ababa']

strings.sort(key=len,reverse = True)
strings

['ababa', 'aaaa', 'bar', 'ca', 'a']

In [1]:
strings = ['a', 'ca', 'bar', 'aaaa', 'ababa']
strings.sort(reverse=True)
strings

['ca', 'bar', 'ababa', 'aaaa', 'a']

#### Q44. strings를 다양한 문자가 포함된 순서로 정렬하세요

In [32]:
strings = ['foo', 'card', 'bar', 'aaaa', 'abab']
strings.sort(key = lambda x:len(set(x)),reverse = True)
strings

['card', 'bar', 'foo', 'abab', 'aaaa']

#### Q45. 'abcde' 를 'edcba'로 바꾸어 출력하세요.(5가지 방법)

In [56]:
li = 'abcde'

#1 슬라이싱 이용
print(li[::-1])

#2 reverse 함수 이용
str_list = list(li)
str_list.reverse()
print(''.join(str_list))

#3 for문 이용
str_reverse = ''

for char in li:
    str_reverse = char + str_reverse

print(str_reverse)

#4 while문 이용
string_reversed=[]
i = len(li)
while i > 0: 
    string_reversed += li[i-1]
    i = i - 1 # decrement index
print(''.join(string_reversed)) 

#5 함수 이용
def reverse_string(li): 
    if len(li) == 0: 
        return li 
    else: 
        return reverse_string(li[1:]) + li[0] 
    
print(reverse_string(li))

edcba
edcba
edcba
edcba
edcba

# 07-28 과제

#### Q46. numbers 내부에 들어 있는 숫자가 몇 번 등장하는지를 출력하는 코드를 작성하세요.
numbers = [3,6,3,5,8,2,9,7,4,3,6,3,5,8,2,9,7,4]

In [11]:
import collections

numbers = [3,6,3,5,8,2,9,7,4,3,6,3,5,8,2,9,7,4]

counts = collections.Counter(numbers)
print(counts)

Counter({3: 4, 6: 2, 5: 2, 8: 2, 2: 2, 9: 2, 7: 2, 4: 2})

#### Q47. 코딩을 한줄로 작성해서 동일한 결과를 출력하세요

In [3]:
# Q.
list = []
for i in range(0,20,2):
    list.append(i*i)
print(list)

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

In [13]:
list = [i*i for i in range(0,20,2)]
list

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

#### Q48. 반복문으로 팩토리얼을 구하는 사용자 함수를 작성하고 5!, 10!를 구하세요.

In [19]:
def factorial():
    a = int(input("숫자를 입력하세요 : "))
    result = 1
    for item in range(1, a+1, 1):
        result *= item 
    print(result)
    
factorial()

숫자를 입력하세요 : 5
120

In [20]:
factorial()

숫자를 입력하세요 : 10
3628800

#### Q49. 재귀란 '자기자신을 호출하는 것'을 의미한다. 재귀함수를 이용해서 팩토리얼을 구하는 사용자 함수를 작성하고 1!, 5!, 10!를 구하세요.
factorial(n) = n * factorial(n-1) (n >= 1)

In [23]:
def factorial(n):
    if n == 1:      
        return 1    
    return n * factorial(n - 1)  
 
print(factorial(1))
print(factorial(5))
print(factorial(10))

1
120
3628800

#### Q50. list a의 모든 원소를 실수형으로 바꾸어 출력하세요
a = [1,2,3,4,5]

In [27]:
a = [1,2,3,4,5]
li=[]
for i in a:
    li.append(float(i))
    
print(li)

[1.0, 2.0, 3.0, 4.0, 5.0]

In [2]:
a = [1,2,3,4,5]
list(map(float,a))

[1.0, 2.0, 3.0, 4.0, 5.0]

# 07-29 과제

#### Q31. 문자열 리스트 states를 정형화하여 아래와 같이 출력하세요.

In [ ]:
# Q. 
states = ['   Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda',
          'south   carolina##', 'West virginia?']
[출력]
['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [70]:
import re

states = ['   Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda',
          'south   carolina##', 'West virginia?']
result = str(states) 
result = result.title() # title함수 사용, 첫글자 대문자로
result = re.sub('[,]',',\n',result)
result = re.sub('^[\s+]','',result) #문자열 좌측 공백 제거
result = re.sub('[#?!]','',result) # 특수문자 #,? 제거



print(result)

['   Alabama ',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [73]:
import re

states = ['   Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda',
          'south   carolina##', 'West virginia?']
def form(word):
    word = word.strip()
    word = re.sub('[#?!]','',word)
    word = word.title()
    return word

list(map(form,states))

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

#### Q51. 게시물의 총 건수와 한 페이지에 보여 줄 게시물 수를 입력시 총 페이지 수를 출력하는 프로그램(func)

In [ ]:
# 서연님 코드 참고
def get_page_num(total_post,per_page):

#### Q52. 랜덤하게 1000명의 이름, 키와 몸무게 만들어 저장한 후 다시 불러내어 다음과 같이 출력하세요.

- 이름 :라바
- 몸무게: 80
- 키: 146
- BMI: 37.53049352598987
- 결과: 과체중

In [ ]:
# 민섭님 코드 참고

# 08-01 과제

#### Q53. 입력한 숫자를 천 단위로 구분하여 출력하세요.

In [4]:
# 민섭님 코드 참고
num = input('숫자를 입력하세요 > ')
if num.isdigit():
    num = num[::1]
    com=''
    for i,c in enumerate(num):
        i += 1
        if i != len(num) and i%3 == 0:
            com += (c,',')
        else:
            com += c
    com = com[::-1]
    print(com)
else:
    print('숫자를 입력하세요')

숫자를 입력하세요 > 75666

TypeError: can only concatenate str (not "tuple") to str

#### Q54. 카운터에서 거스름돈으로 사용할 500원, 100원, 50원, 10원짜리 동전이 무한히 존재한다고 가정한다. 손님에게 거슬러 줘야 할 돈이 n원일 때 거슬러 줘야 할 동전의 최소 개수를 구하세요. 단, 거슬러 줘야 할 돈 n원은 항상 10의 배수이다. n은 2750원이다.

In [95]:
import math
def coin():
    change = 2750

    coin_500 = int(change/500)
    coin_100 = int((change-(coin_500*500))/100)
    coin_50 = int((change-(coin_500*500+coin_100*100))/50)
    coin_10 = int((change-(coin_500*500+coin_100*100+coin_50*50))/10)
    
    print(f'500원:{coin_500}개, 100원:{coin_100}개, 50원:{coin_50}개, 10원:{coin_10}개')
    print(f'동전의 총개수: {coin_500+coin_100+coin_50+coin_10}')
    
coin()

500원:5개, 100원:2개, 50원:1개, 10원:0개
동전의 총개수: 8

In [5]:
n = 2750
count = 0

# 큰 단위의 화폐부터 차례대로 확인하기
coin_types = [500, 100, 50, 10]

for coin in coin_types:
    count += n // coin # 해당 화폐로 거슬러 줄 수 있는 동전의 개수 세기
    n %= coin

print(count)

8

#### Q55. data/mydata.txt 파일에 있는 단어 개수를 출력하세요.

In [1]:
li = ''
with open('./mydata.txt') as f:
    lines = f.readlines()
    li = ' '.join(lines)
    #li.append(lines)
    
print(li)

a lot of things occur each day
 we've got to live with on our way
 there's so much misery on the screen
 with commercials in between

 and the russians won't be so late
 uncle sam don't want to wait
 no matter if you're black or white
 you never ever had a right

 and look up to the eternal skies
 see warfare even there
 what once has been a paradise
 now destruction and despair

 in other worlds the children die
 lacking food ill from a fly
 oppressed by troops to tame their land
 it's all the same again

 if any man is free on earth
 then tormentors steal his birth
 they slam gun butts in his face
 and leave his woman choked in mace

 so stand up for our human rights
 push back this pest of hate
 raise you voice pass on the light
 unite! it's not too late

 how many tears flow away
 to become a sea of fears
 how many hearts are torn apart
 till another torment starts

 but before the world
 turns into a sun
 all cruelty and violence
 on earth will be dead and gone

 so stand up for our human rights
 push back this pest of hate
 raise you voice pass on the light
 unite! it's not too late

In [46]:
li = ''
with open('./mydata.txt') as f:
    lines = f.readlines()
    li = ' '.join(lines)
    
    word = []
    words = li.split()
    word_counts = dict() #단어와 개수를 저장하기 위한 word_counts 사전을 생성
    total_count = 0
    
    for word in words:
        word_counts[word] = word_counts.get(word, 0) + 1    # 단어 카운트 증가

    for word, count in word_counts.items():
        print(word, count)
        total_count += count
        
    print(f'전체 단어 개수 : {total_count}')

a 6
lot 1
of 4
things 1
occur 1
each 1
day 1
we've 1
got 1
to 5
live 1
with 2
on 6
our 3
way 1
there's 1
so 4
much 1
misery 1
the 8
screen 1
commercials 1
in 4
between 1
and 6
russians 1
won't 1
be 2
late 3
uncle 1
sam 1
don't 1
want 1
wait 1
no 1
matter 1
if 2
you're 1
black 1
or 1
white 1
you 3
never 1
ever 1
had 1
right 1
look 1
up 3
eternal 1
skies 1
see 1
warfare 1
even 1
there 1
what 1
once 1
has 1
been 1
paradise 1
now 1
destruction 1
despair 1
other 1
worlds 1
children 1
die 1
lacking 1
food 1
ill 1
from 1
fly 1
oppressed 1
by 1
troops 1
tame 1
their 1
land 1
it's 3
all 2
same 1
again 1
any 1
man 1
is 1
free 1
earth 2
then 1
tormentors 1
steal 1
his 3
birth 1
they 1
slam 1
gun 1
butts 1
face 1
leave 1
woman 1
choked 1
mace 1
stand 2
for 2
human 2
rights 2
push 2
back 2
this 2
pest 2
hate 2
raise 2
voice 2
pass 2
light 2
unite! 2
not 2
too 2
how 2
many 2
tears 1
flow 1
away 1
become 1
sea 1
fears 1
hearts 1
are 1
torn 1
apart 1
till 1
another 1
torment 1
starts 1
but 1
before 1
world 1
turns 1
into 1
sun 1
cruelty 1
violence 1
will 1
dead 1
gone 1
전체 단어 개수 : 213

In [49]:
# 선생님 솔루션
with open('./mydata.txt','r') as f:
    data = f.read()
    temp = data.split()
    print(f'전체 단어 수 : {len(temp)}')

전체 단어 수 : 213

#### Q56. 파일이름과 특정 단어를 인자로 입력하면 그 파일에 있는 특정 단어의 개수를 반환하는 사용자 함수를 이용하여 mydata 파일에서 how의 개수를 출력하세요.

In [53]:
def wordcount():
    file_name = input('파일 이름을 입력하세요 > ')
    find_word = input('찾고 싶은 단어를 입력하세요 > ')
    
    file=open('./'+file_name+'.txt',"r")
    
    sum=0
    for word_list in file:
        a = word_list.split(' ')
        for b in a:
            c = b.count(find_word)
            sum += c 
    print(f'{find_word}의 개수: {sum}')

In [55]:
wordcount()

파일 이름을 입력하세요 > mydata
찾고 싶은 단어를 입력하세요 > how
how의 개수: 2

In [56]:
# 선생님 솔루션
def countWord(filename, word):
    with open(filename, 'r') as f:
        text = f.read()
        text = text.lower()
        pos = text.find(word)
        count = 0
        while pos != -1:
            count += 1
            pos = text.find(word, pos+1)
    return count

filename = input('filename을 입력하세요: ')
word = input('filename에서 개수를 구할 단어를 입력하세요: ').lower()
ret = countWord(filename, word)
print(f'{word}의 개수: {ret}')

filename을 입력하세요: ./mydata.txt
filename에서 개수를 구할 단어를 입력하세요: How
how의 개수: 2

# 08-03 과제

### Q59.문자열을 입력받아 같은 문자가 연속적으로 반복되는 경우에 그 반복 횟수를 표시해 문자열을 압축하여 표시하세요.
- 예) "aaabbcccccca" -> a3b2c6a1

In [21]:
text = input("입력 : ") 
num = text[0] 
count = 1 
      
for i in range(1, len(text)): 
    if text[i] == num: 
        count += 1
    else: 
        print(num, end='') 
        print(count, end='') 
        count = 1 
        num = text[i] 
    
print(text[len(text)-1], end='') 
print(count)

입력 : aaabbcccccca
a3b2c6a1

In [ ]:
from itertools import groupby
t = ''
''.join(f'{x}{len(list(y))} for x,y in groupby(x,y)')

# 08-04

### Q60.
N개의 배열로 이루어진 배열이 있을 때 주어진 수들을 M번 더하여 가장 큰 수를 만드는 프로그램을 작성하세요. 단 배열의 특정한 인덱스(번호)에 해당하는 수가 연속해서 K번을 초과하여 더해질 수 없는 것이 특징이다.
프로그램은 다음 조건을 만족하는 N, M, K를 공백으로 일차 입력하고 N개의 배열을 공백으로 이차 입력하면 결과물을 출력하는 방식으로 수행함.
- 2 <= N <= 1000
- 1 <= M <= 10000
- 1 <= K <= 10000

In [4]:
n, m, k = map(int, input().split())
x = list(map(int, input().split()))

x.sort()
first = x[n - 1]
second = x[n - 2]

count = int(m / (k + 1)) * k
count += m % (k + 1)

result = 0
result += (count) * first
result += (m-count) * second

print(result)

2 2 5
5

IndexError: list index out of range

In [7]:
# N, M, K를 공백을 기준으로 구분하여 입력 받기
n, m, k = map(int, input().split())
# N개의 수를 공백을 기준으로 구분하여 입력 받기
data = list(map(int, input().split()))

data.sort() # 입력 받은 수들 정렬하기
first = data[n - 1] # 가장 큰 수
second = data[n - 2] # 두 번째로 큰 수

# 가장 큰 수가 더해지는 횟수 계산
count = int(m / (k + 1)) * k
count += m % (k + 1)

result = 0
result += (count) * first # 가장 큰 수 더하기
result += (m - count) * second # 두 번째로 큰 수 더하기
 
print(result) # 최종 답안 출력

2 2 2
2 5 7 7
10

# 08-05

### Q61. file1, 2의 파일 크기를 각각 구하세요.

- file1 = 'data/stockcode.txt'
- file2 = 'data/img_sample.jpg'

### Q62.
stockcode.txt의 105바이트 위치에서 500바이트를 읽어 그 내용은 stock_part.txt에 저장 한 후 출력하세요.

In [ ]:
i, j = divmod(M,K)
total_sum = sum(array_b[:i]) * 3 + array_b[i] * j